/* .App {
  
} */

html,
body {
  height: 100%;
  width: 100%;
  background-color: #63231085;
  color: #DBDCB8;
}

.content {
  height: 100%;
}

.monospace {
  font-family: monospace;
  font-size: large;
}

.scoot-left {
  text-align: right;
  overflow: hidden;
  zoom: reset;
  width: 1096px;
  padding-top: 420px;
}

.thoughts {
  word-wrap: break-word;
  position: relative;
  padding-left: 18px;
  width: 1024px;
}